<div class="container py-3">
  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal"></h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Creador de artículos paso a paso<small class="text-body-secondary fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
            </ul>
            <%= link_to "Creador Wizard", new_travel_path, :class => "w-25 btn btn-lg btn-outline-primary" %>
          </div>
        </div>
      </div>
    <!--  <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Póliza 2 semanas</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$150.000<small class="text-body-secondary fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Cotizar</button>
          </div>
        </div>
      </div> 
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Póliza 3 semanas</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$200.000<small class="text-body-secondary fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Cotizar</button>
          </div>
        </div>
      </div>
    </div>-->


  </main>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <!-- <img class="mb-2" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="24" height="19"> -->
        <small class="d-block mb-3 text-body-secondary">&copy; 2017–2023</small>
      </div>
      <div class="col-6 col-md">
        <h5>Pólizas</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Nacionales</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Internacionales</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Contacto</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Email</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Whatsapp</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Facebook</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Instagram</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Acerca de</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Equipo</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Localización</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacidad</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Terminos y condiciones</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>