<h1>Editing articles medicament</h1>

<%= render "form", articles_medicament: @articles_medicament %>

<br>

<div>
  <%= link_to "Show this articles medicament", @articles_medicament %> |
  <%= link_to "Back to articles medicaments", articles_medicaments_path %>
</div>
